body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.standard {
  text-align:center;
  padding:10px;
}

#stats {
  position: absolute;
  right:0;
  bottom:0;
  height:100px;
  width:100px;
  border:1px solid red;
}

.standard h1 {
  background-color:#2980b9;
  border-radius: 5px;
}

.standard button {
  background-color:lightcoral;
  border-radius: 25px;
  padding:5px;
  border:#fff;
}

.standard button:hover {
  background-color:crimson;
  color:white;
}

.fifty {
  width:100px;
  display:modified-block;
}

ol {
  width:200px;
  margin:0 auto;
  padding:10px 10px 25px 50px;
  text-align:left;
}